.sidebar {

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;

    .title {
        font-size: 24px;
        font-weight: bold;
        margin-top: 32px;
    }
    

}