.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    height: 80px;

    border-bottom: 1px solid black  ;


    .logo {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: black;
    }
}