
.container {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    



    .left {
        flex: 1;
        background-color: aqua;
        height: 100vh;
        border-right: 1px solid black;

    }


    .right {
        flex: 3;
        background-color: bisque;
        height: 100vh;
        
    }

}


.logout {
    background-color: green;
}